<div class="summary-boons">
    <h6>Boons</h6>
    <div [class]="'indicator indicator-' + aegis"
         [ngxTippy]="aegisSkillFact" [tippyName]="'aegis-' + index">
        <img src="assets/status/Aegis.png" alt="aegis"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + aegis"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + alacrity"
         [ngxTippy]="alacritySkillFact" [tippyName]="'alacrity-' + index">
        <img src="assets/status/Alacrity.png" alt="alacrity"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + alacrity"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + fury"
         [ngxTippy]="furySkillFact" [tippyName]="'fury-' + index">
        <img src="assets/status/Fury.png" alt="fury"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + fury"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + might"
         [ngxTippy]="mightSkillFact" [tippyName]="'might-' + index">
        <img src="assets/status/Might.png" alt="might"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + might"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + protection"
         [ngxTippy]="protectionSkillFact" [tippyName]="'protection-' + index">
        <img src="assets/status/Protection.png" alt="protection"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + protection"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + quickness"
         [ngxTippy]="quicknessSkillFact" [tippyName]="'quickness-' + index">
        <img src="assets/status/Quickness.png" alt="quickness"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + quickness"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + regen"
         [ngxTippy]="regenSkillFact" [tippyName]="'regen-' + index">
        <img src="assets/status/Regeneration.png" alt="regen"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + regen"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + resistance"
         [ngxTippy]="resistanceSkillFact" [tippyName]="'resistance-' + index">
        <img src="assets/status/Resistance.png" alt="resistance"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + resistance"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + resolution"
         [ngxTippy]="resolutionSkillFact" [tippyName]="'resolution-' + index">
        <img src="assets/status/Resolution.png" alt="resolution"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + resolution"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + stability"
         [ngxTippy]="stabilitySkillFact" [tippyName]="'stability-' + index">
        <img src="assets/status/Stability.png" alt="stability"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + stability"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + swiftness"
         [ngxTippy]="swiftnessSkillFact" [tippyName]="'swiftness-' + index">
        <img src="assets/status/Swiftness.png" alt="swiftness"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + swiftness"></div>
        </div>
    </div>
    <div [class]="'indicator indicator-' + vigor"
         [ngxTippy]="vigorSkillFact" [tippyName]="'vigor-' + index">
        <img src="assets/status/Vigor.png" alt="vigor"/>
        <div class="progress">
            <div [class]="'progress-bar progress-' + vigor"></div>
        </div>
    </div>
</div>

<ng-template #aegisSkillFact>
    <app-skill-fact skill="aegis" [modifier]="aegis"></app-skill-fact>
</ng-template>
<ng-template #alacritySkillFact>
    <app-skill-fact skill="alacrity" [modifier]="alacrity"></app-skill-fact>
</ng-template>
<ng-template #furySkillFact>
    <app-skill-fact skill="fury" [modifier]="fury"></app-skill-fact>
</ng-template>
<ng-template #mightSkillFact>
    <app-skill-fact skill="might" [modifier]="might"></app-skill-fact>
</ng-template>
<ng-template #protectionSkillFact>
    <app-skill-fact skill="protection" [modifier]="protection"></app-skill-fact>
</ng-template>
<ng-template #quicknessSkillFact>
    <app-skill-fact skill="quickness" [modifier]="quickness"></app-skill-fact>
</ng-template>
<ng-template #regenSkillFact>
    <app-skill-fact skill="regeneration" [modifier]="regen"></app-skill-fact>
</ng-template>
<ng-template #resistanceSkillFact>
    <app-skill-fact skill="resistance" [modifier]="resistance"></app-skill-fact>
</ng-template>
<ng-template #resolutionSkillFact>
    <app-skill-fact skill="resolution" [modifier]="resolution"></app-skill-fact>
</ng-template>
<ng-template #stabilitySkillFact>
    <app-skill-fact skill="stability" [modifier]="stability"></app-skill-fact>
</ng-template>
<ng-template #swiftnessSkillFact>
    <app-skill-fact skill="swiftness" [modifier]="swiftness"></app-skill-fact>
</ng-template>
<ng-template #vigorSkillFact>
    <app-skill-fact skill="vigor" [modifier]="vigor"></app-skill-fact>
</ng-template>
