<div (drop)="drop($event)" (dragover)="allowDrop($event)">
    <app-group [advanced]="advanced" [groupId]="0" [title]="' 1.'" [(party)]="group[0]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="1" [title]="' 2.'" [(party)]="group[1]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="2" [title]="' 3.'" [(party)]="group[2]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="3" [title]="' 4.'" [(party)]="group[3]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="4" [title]="' 5.'" [(party)]="group[4]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="5" [title]="' 6.'" [(party)]="group[5]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="6" [title]="' 7.'" [(party)]="group[6]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="7" [title]="' 8.'" [(party)]="group[7]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="8" [title]="' 9.'" [(party)]="group[8]" (receivedItem)="handleReceived($event)"></app-group>
    <app-group [advanced]="advanced" [groupId]="9" [title]="'10.'" [(party)]="group[9]" (receivedItem)="handleReceived($event)"></app-group>
</div>
