<div class="group">
    <div class="desc">{{title}}</div>
    <app-group-stats [party]="party"></app-group-stats>
    <ul class="list-unstyled">
        <ng-container *ngFor="let partySlot of party; let i = index">
            <li class="slot" draggable="true" (dragstart)="drag(i, $event)" (drop)="drop(i, $event)" (dragover)="allowDrop($event)">
                <app-spot *ngIf="partySlot" [specialization]="partySlot" [editable]="true"></app-spot>
            </li>
        </ng-container>
    </ul>
    <div class="count" [class.full]="isFull()">
        <h6>Count {{countParty()}} / 5</h6>
    </div>
    <app-boon-table [party]="party"></app-boon-table>
    <app-control-misc-table [party]="party"></app-control-misc-table>

</div>
