<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h4>Squad Editor</h4>
        </div>
    </div>
    <div class="row">
        <div class="class-panel-container col-sm-4">
            <app-class-panel #classPanel (ready)="onClassPanelReady()"></app-class-panel>
            <div class="tcode row">
                <div class="col-md-8">
                    <textarea>{{currentLink}}</textarea>
                </div>
                <div class="col-md-4">
                    <button class="button" (click)="generateLink()">Get quick link</button>
                </div>
            </div>
        </div>

        <div class="raid-comp-container col-sm-8">
            <app-raid-comp [group]="group" (changesToSquad)="notifyClassPanel($event)"></app-raid-comp>
        </div>
    </div>
</div>
