<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h4>Squad Editor</h4>
        </div>
    </div>
    <div class="row">
        <div class="class-panel-container col-sm-4">
            <app-class-panel #classPanel (ready)="onClassPanelReady()"></app-class-panel>
            <div class="tcode">
                <div>
                    <textarea>{{currentLink}}</textarea>
                </div>
                <div>
                    <button class="button" (click)="generateLink()">Get quick link</button>
                </div>
            </div>
        </div>

        <div class="raid-comp-container col-sm-8">
            <div>
                <label>
                <input type="checkbox" [(ngModel)]="advanced">
                    Advanced mode
                </label>
            </div>
            <app-raid-comp [(group)]="group" [advanced]="advanced"></app-raid-comp>
        </div>
    </div>
</div>
