<div class="show-info ">
    <div class="si-inner">
        <div class="si-header ">
            <div class="si-header-stat"></div>
            <h6>{{titleOf()}}
            </h6>
        </div>
        <div>
            <p>{{descriptionOf()}}</p>
            <p><strong>Status</strong>:
                <ng-container *ngIf="modifier == 'q0'">Missing</ng-container>
                <ng-container *ngIf="modifier == 'q1'">Barely available</ng-container>
                <ng-container *ngIf="modifier == 'q2'">Barely available</ng-container>
                <ng-container *ngIf="modifier == 'q3'">Partially available</ng-container>
                <ng-container *ngIf="modifier == 'q4'">Inconsistently available</ng-container>
                <ng-container *ngIf="modifier == 'q5'">Available</ng-container>
            </p>
        </div>
    </div>
</div>
