@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "flexboxgrid.min.css";
@import 'tippy.js/dist/tippy.css';

body {
  background: #36393F;
  color: #f5f5f5;
}

.wrapper {
  padding: 20px;
  font-family: 'Roboto', sans-serif;

  .indicators-container {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background: white;
    padding: 5px;
  }
}

.block {
  width: 165px;
  height: 40px;
  margin: 0;
  padding: 0;
  z-index: 100;
  cursor: pointer;
  border: 1px solid #444444;
  background: #2d2d2d;
  display: flex;
  align-items: center;
  app-spot {
    display: block;
  }
  &.end {
    margin-bottom: 6px;
  }
}
.class-panel-container .spot {
  border: 0;
  display: flex;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  align-items: center;

  &-smaller {
    font-size: 12px;
  }

  .name {
    padding: 0;
    vertical-align: middle;
  }

  img {

    width: 25px;
    height: 25px;
    vertical-align: bottom;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 2px;
  }
}

.raid-comp-container .spot {
  border: 0;
  display: flex;
  font-weight: bold;
  text-align: left;
  cursor: pointer;

  padding: 0 0;
  height: calc(50px * 1.5);
  width: calc(100px * 1.5);
  border: solid 1px black;
  margin: -1px;
  background: linear-gradient(133deg, rgb(86 150 74) 0%, rgb(50 76 41) 100%);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;

  &-smaller {
    font-size: 12px;
  }

  .name {
    padding: 0;
    vertical-align: middle;
    margin-top: 6px;
  }

  img {

    //width: 25px;
    //height: 25px;
    vertical-align: bottom;
    padding: 4px 0 0 0;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 2px;
  }
}

.group {
  //margin: 20px;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;

  .desc {
    font-weight: bold;
    color: #fafafa;
    width: 30px;
    margin-left: 1rem;
  }

  .block {
    z-index: 50;
  }

  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 1rem;
  }

  .slot {
    height: calc(50px * 1.5);
    width: calc(100px * 1.5);
    border: solid 1px black;
    margin: .25rem;
  }
  .spot {
    display: flex;
    flex-flow: column-reverse;
    color: #e6e6e6;
    font-weight: normal;
    &:hover {
      color: #FFF
    }
    position: relative;
    &-tr {
      position: absolute;
      top: 0;
      right: 0;
    }
    &-tl {
      position: absolute;
      top: 0;
      left: 0;
    }
    &-br {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
    }
    &-bl {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .indicator {
      margin: 0;
      padding: 0;
      font-size: 12px;
      &.only-self img{
        opacity: .75;
        filter: grayscale(100%);
      }
      img {
        width: 16px;
        height: 16px;
        margin: 0;
        padding: 0;
      }
    }

  }

  .slot-hover {
    background-color: #393939;
  }

}

.box {
  background-color: #171717;
  border: 1px solid #444444;
  width: 100%;
  padding: 3px 0;
  font-size: 10px;

  a {
    text-decoration: none;
  }

  a, a:visited {
    cursor: help;
  }

  img {
    width: 10px;
    vertical-align: bottom;
    padding: 1px 1px 1px 4px;
    border: 0;
  }

  .cat {
    margin: 1px 0;
  }
}

.necromancer, .necromancer:visited, .necromancer:hover, .necromancer:visited:hover {
  color: #52a76f;
}

.guardian, .guardian:visited, .guardian:hover, .guardian:visited:hover {
  color: #72c1d9;
}

.elementalist, .elementalist:visited, .elementalist:hover, .elementalist:visited:hover {
  color: #f68a87;
}

.revenant, .revenant:visited, .revenant:hover, .revenant:visited:hover {
  color: #d16e5a;
}

.mesmer, .mesmer:visited, .mesmer:hover, .mesmer:visited:hover {
  color: #b679d5;
}

.warrior, .warrior:visited, .warrior:hover, .warrior:visited:hover {
  color: #ffd166;
}

.thief, .thief:visited, .thief:hover, .thief:visited:hover {
  color: #c08f95;
}

.engineer, .engineer:visited, .engineer:hover, .engineer:visited:hover {
  color: #d09c59;
}

.ranger, .ranger:visited, .ranger:hover, .ranger:visited:hover {
  color: #8cdc82;
}

.count {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  h6 {
    color: #929292;
  }

  &.full h6{
    color: #43A047;
  }

  h6 {
    font-weight: normal;
    font-size: 8pt;
    padding: 0;
    margin: 0 12px 0 0;
  }
}

.summary-boons, .summary-control {
  margin-left: 12px;
  overflow: auto;
  h6 {
    font-weight: normal;
    font-size: 8pt;
    color: #f5f5f5;
    padding: 0;
    margin: 0 0 0px;
  }

  div {
    float: left;
  }

}

$md-btn-color: #bf7523;
$md-btn-primary-color: #00ACC1;

.button {
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  margin-left: 5px;

  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;

  background: $md-btn-primary-color;
  color: #fff;
  outline: 0;

  &:focus {
    background: darken($md-btn-primary-color, 12%)
  }

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }

}

.padded {
  margin-bottom: 15px;
}

.tcode {
  margin-top: 15px;
  padding: 0 0.5rem 0 0;
  .button {
    background: $md-btn-color;
    color: #fff;
    outline: 0;

    &:focus {
      background: darken($md-btn-color, 12%)
    }
  }

  textarea {
    height: 45px;
    border: solid 1px #6d7875;
    background-color: #ffffff;
    color: #a81d02;
    font-size: 8pt;
    width: 100%;
    padding: 5px;
    resize: none;

    &:disabled {
      border-color: #ffffff;
      background-color: #a81d02;
      color: #ffffff;
      text-align: center;
      line-height: 4.0em;
    }
  }
}

.flexbox {
  //column-count: 2;
  //column-gap: 0;
  display: flex;
  //flex-direction: column;
  flex-wrap: wrap;
  //
  margin: 0;
  padding: 0;


  li {
    padding: 0.25rem;
    margin: 0.2604rem;
  }
}

.indicator {
  position: relative;
  margin-top: .5rem;
  margin-right: 5px;
  img {
    width: 32px;
    height: 32px;
  }
  &-off img {
    filter: saturate(0);
    opacity: 0.5;
  }
  &-weak img {
    filter: saturate(1);
    opacity: .7;
  }
  &-strong img {
    filter: saturate(1);
    opacity: 1;
  }

  .counter {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 3px #000000;
  }
}

.tippy-box {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(0,0,0,0);
}

.show-info {
  box-sizing: border-box;
  min-width: 230px;
  max-width: 350px;
  height: auto;
  border: solid 2px #000000;
  z-index: 10;
  background: url("assets/controls/show-info.jpg") 0 0;
  opacity: 1;
}

.show-info.skill-desc {
  max-width: 400px;
}

.show-info .si-inner {
  display: block;
  margin: -24px 12px 15px 12px;

  //position: relative;
  font-size: 12px !important;
  font-weight: normal;
  color: #f00;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
}

.show-info .si-inner * {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .8);
}

.show-info .si-header {
  margin: 0 0 10px 0;
}

.show-info .si-header h6 {
  color: #fee0ad;
  font-weight: 500;
  font-size: 14px;
}

.show-info .si-header.com h6 {
  color: #ffffff;
}

.show-info .si-header.fin h6 {
  color: #4f9dfe;
}

.show-info .si-header.mas h6 {
  color: #2dc50e;
}

.show-info .si-header.rar h6 {
  color: #ffe51f;
}

.show-info .si-header.exo h6 {
  color: #fda500;
}

.show-info .si-header.asc h6 {
  color: #ff4484;
}

.show-info .si-header.leg h6 {
  color: #a02ef7;
}

.show-info .si-header .si-header-stat {
  float: right;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  margin-left: 10px;
}

.show-info .si-header .si-header-stat .attr-stat {
  color: #00ff00;
  font-size: 14px;
}

.show-info .si-header .si-header-stat .attr-stat.percent::after {
  content: "%";
  color: #00ff00;
  font-size: 14px;
}

.show-info .si-header .si-header-stat .skill-stat {
  margin: -5px -10px 0 0;
}

.show-info .si-header .si-header-stat .skill-stat li {
  float: left;
  font-size: 13px;
  margin-left: 3px;
  line-height: 22px;
}

.show-info .si-header .si-header-stat .skill-stat .original {
  display: none;
}

.show-info .si-header .si-header-stat .skill-stat .modified {
  color: #00ff00;
}

.show-info .si-header .si-header-stat .skill-stat .modified .original {
  display: inline-block;
  color: #ffffff;
  margin-left: 5px;
}

.show-info .si-header .si-header-stat .skill-stat .modified .original::before {
  content: "(";
  color: #ffffff;
  font-size: 13px;
}

.show-info .si-header .si-header-stat .skill-stat .modified .original::after {
  content: ")";
  color: #ffffff;
  font-size: 13px;
}


.show-info .skill-info, .show-info .skill-info * {
  font-size: 12px;
}

.show-info .skill-info b {
  color: #fce755;
  font-weight: normal;
}

.show-info .skill-info em {
  color: #d2d2d2;
  font-style: italic;
}

.sfact.txt, .sfact.hr + .sfact {
  margin-top: 20px;
}

.sfact.nohr, .show-info .sfact.nohr {
  margin-top: 0 !important;
}

.show-info .sfact.txt, .show-info .sfact.hr + .sfact {
  margin-top: 10px;
}

.show-info p + .sfact, .show-info p + .sfact.txt, .show-info p + .sfact.nohr {
  margin-top: 10px !important;
}

.sfact.hr {
  display: none;
}

.sfact.txt dt {
  display: none;
}

.sfact.txt dd {
  padding-left: 0;
}

.sfact.txt.enemy dd b {
  color: #ff6600 !important;
}

.sfact.txt.ally dd b {
  color: #0077ff !important;
}

.show-info .skill-info .sfact dd, .show-info .skill-info .sfact dd * {
  color: #d2d2d2 !important;
  font-size: 12px;
}

.show-info .skill-info .sfact.txt dd {
  font-size: 12px;
  color: #ffffff !important;
}

.show-info .skill-info .sfact.traited dd, .show-info .skill-info .sfact.traited dd * {
  color: #77bbff !important;
}

.show-info .skill-info .sfact.isadded dd, .show-info .skill-info .sfact.isadded dd * {
  font-style: italic !important;
}

.show-info .skill-info .sfact .multi {
  font-size: 13px;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9), -2px 2px 2px rgba(0, 0, 0, .9), 2px -2px 2px rgba(0, 0, 0, .9);
}

.show-info .skill-info .sfact .add {
  font-weight: normal;
}

.show-info .skill-info .sfact .add::before, .show-info .skill-info .sfact .add::after {
  content: none;
}

.show-info .skill-info .sfact.time .add::before {
  content: " (";
}

.show-info .skill-info .sfact.x .add::before {
  content: " (";
}

.show-info .skill-info .sfact.time .add::after {
  content: ") ";
}

.show-info .skill-info .sfact.x .add::after {
  content: "x) ";
}

.show-info .skill-info .sfact.desc .add::after {
  content: ": ";
}

.show-info .skill-info .sfact.time.desc .add::after {
  content: "): ";
}

.show-info .skill-info .sfact.x.desc .add::after {
  content: "x): ";
}

.show-info.as-content {
  max-width: 500px;
}

.show-info.as-content .si-header {
  margin-bottom: 4px;
}

.show-info.as-content .si-header h6 {
  margin-bottom: 4px;
  font-size: 13px;
}

.show-info.as-content ul {
  margin-bottom: 10px;
}

.show-info.as-content ul li {
  list-style: none;
  margin-bottom: 2px;
}

.show-info.as-content .attributes ul {
}

.show-info.as-content .attributes ul li {
  list-style: none;
  margin-bottom: 0;
}

.show-info.as-content .attributes ul li.traited {
  color: #77bbff !important;
}

.show-info.as-content .attributes ul li::before {
  display: inline-block;
  content: "+";
  float: left;
  margin-right: 2px;
}

.show-info.as-content .attributes ul li.traited .buff-src {
  font-style: italic;
  color: #77bbff;
}

.show-info.as-content .attributes ul li.traited .buff-src::before {
  content: "(";
}

.show-info.as-content .attributes ul li.traited .buff-src::after {
  content: ")";
}

.show-info .si-tl-content ul {
  margin: 0 10px 0 0;
  max-width: 400px;
}

.show-info .si-tl-content ul li {
  margin: 0 0 4px 30px;
  list-style: none;
  min-height: 28px;
  line-height: 15px;
}

.show-info .si-tl-content ul li b {
  color: #fce755;
}

.show-info .si-tl-content ul li em {
  display: none;
}

.show-info .si-tl-content ul li .ico {
  width: 24px;
  height: 24px;
  float: left;
  margin-left: -30px;
}

.show-info .si-tl-content ul li .ico img {
  width: 24px;
  height: 24px;
}

.show-info .si-tl-content ul li .desc {
}

.show-info .si-text {
}

.show-info .si-table {
}

.show-info .si-aside {
  margin-top: 10px;
}

.show-info .ad-stat {
  margin: 0;
}

.show-info .ad-stat .value {
  color: #00ff00;
  margin: 0 15px 0 5px;
}

.show-info .si-aside.toggle-hint {
  margin-top: 15px;
  color: #999999;
  font-size: 11px;
  font-style: italic;
}

.show-info .si-aside.toggle-hint::before {
  content: "(";
}

.show-info .si-aside.toggle-hint::after {
  content: ")";
}

.show-info .si-aside.ctrl-hint {
  margin-top: 15px;
  color: #999999;
  font-size: 11px;
  font-style: italic;
}

.show-info .si-aside.ctrl-hint::before {
  content: "(";
}

.show-info .si-aside.ctrl-hint::after {
  content: ")";
}

.show-info .ad-stat + .at-stat {
  margin-top: 10px;
}

.show-info .item-stat.rune {
  margin-left: 22px;
}

.show-info .item-stat.rune::before {
  display: block;
  content: "(1):";
  margin-left: -22px;
  float: left;
}

.show-info .rune + .rune::before {
  content: "(2):";
}

.show-info .rune + .rune + .rune::before {
  content: "(3):";
}

.show-info .rune + .rune + .rune + .rune::before {
  content: "(4):";
}

.show-info .rune + .rune + .rune + .rune + .rune::before {
  content: "(5):";
}

.show-info .rune + .rune + .rune + .rune + .rune + .rune::before {
  content: "(6):";
}

.show-info .blue {
  color: #77bbff;
}

.show-info .item-desc em {
  color: #b0b0b0;
  font-style: normal;
}

.show-info .si-aside .ad-stat {
  font-size: 12px;
  color: #b0b0b0;
}

.show-info .si-aside .ad-stat .value {
  color: #b0b0b0;
  margin: 0;
}

.sfact.summary {
}

.sfact.summary dd {
  color: #b0b0b0;
}

.sfact.summary b {
  font-weight: normal;
  color: #f4d3a8;
}

.sfact.summary em {
  display: none;
}

.sfact.summary-skill em {
  display: inline-block;
  margin-right: 5px;
  font-style: normal;
  color: #f4f0d4;
}

.sfact.summary-skill em::before {
  content: "[";
}

.sfact.summary-skill em::after {
  content: "]";
}


/* Pet Info */
.show-info.pet {
}

.show-info.pet .tribe {
  float: right;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.show-info.pet .pet-info {
  height: 220px;
}

.show-info.pet .pet-info p {
  font-style: italic;
  font-size: 13px;
}

.show-info.pet .pet-info ul {
  width: 240px;
  margin-top: 10px;
}

.show-info.pet .pet-info ul li {
  width: 80px;
  float: left;
  background: none;
  margin: 0 0 0 36px;
  font-size: 13px;
  line-height: 32px;
}

.show-info.pet .pet-info ul li::before {
  width: 32px;
  height: 30px;
  content: '';
  float: left;
  display: block;
  margin-left: -34px;
}

.show-info.pet .pet-info ul li.pc::after {
  display: inline-block;
  content: '%';
}

.show-info.pet .pet-info ul li.modified {
  color: #00ff00;
}

.pet-tribes-matrix .tribe {
  display: inline-block;
  width: 32px;
  height: 32px;
}


@media (min-width: 1024px) and (max-width: 1440px) {
  .hide-small {
    display: none !important;
  }
  .wrapper {
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hide-small {
    display: none !important;
  }
  .wrapper {
    padding: 1rem;
  }

}

@media (min-width: 480px) and (max-width: 768px) {
  .hide-small {
    display: none !important;
  }
  .wrapper {
    padding: 1rem;
  }


}

@media (max-width: 480px) {
  .hide-small {
    display: none !important;
  }
  .wrapper {
    padding: 1rem;
  }

}

h4 {
  margin-top: 0;
}
