<div class="indicator" [class.indicator-off]="damageSpecs.length == 0" [ngxTippy]="damageSkillFact">
    <img src="assets/controls/Power_attribute.png" alt="dps"/>
    <div class="counter" *ngIf="damageSpecs.length">{{damageSpecs.length}}</div>
</div>
<div class="indicator" [class.indicator-off]="ccCount == 0" [ngxTippy]="ccSkillFact">
    <img src="assets/controls/Daze.png" alt="support">
    <div class="counter" *ngIf="ccCount">{{ccCount}}</div>
</div>
<div class="indicator" [class.indicator-off]="supportCount == 0" [ngxTippy]="supportSkillFact">
    <img src="assets/controls/Vitality_attribute.png" alt="healers">
    <div class="counter" *ngIf="supportCount">{{supportCount}}</div>
</div>

<ng-template #damageSkillFact>
    <div class="show-info ">
        <div class="si-inner">
            <div class="si-header ">
                <div class="si-header-stat"></div>
                <h6>Damage specializations</h6>
            </div>
            <div>
                <p *ngIf="damageSpecs.length == 0">No specializations for this role</p>
                <p *ngIf="damageSpecs.length > 0">Specialization for this role:</p>
                <ul *ngIf="damageSpecs.length > 0">
                    <li *ngFor="let spec of damageSpecs">{{spec}}</li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #supportSkillFact>
    <div class="show-info ">
        <div class="si-inner">
            <div class="si-header ">
                <div class="si-header-stat"></div>
                <h6>Support specializations</h6>
            </div>
            <div>
                <p *ngIf="supportSpecs.length == 0">No specializations for this role</p>
                <p *ngIf="supportSpecs.length > 0">Specialization for this role:</p>
                <ul *ngIf="supportSpecs.length > 0">
                    <li *ngFor="let spec of supportSpecs">{{spec}}</li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ccSkillFact>
    <div class="show-info ">
        <div class="si-inner">
            <div class="si-header ">
                <div class="si-header-stat"></div>
                <h6>Control specializations</h6>
            </div>
            <div>
                <p *ngIf="ccSpecs.length == 0">No specializations for this role</p>
                <p *ngIf="ccSpecs.length > 0">Specialization for this role:</p>
                <ul *ngIf="ccSpecs.length > 0">
                    <li *ngFor="let spec of ccSpecs">{{spec}}</li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>
